*out
.tmp.driveupload/*
.tmp.drivedownload/*
*.aux,
*.bbl,
*.bcf,
*.blg,
*.idx,
*.ind,
*.lof,
*.lot,
*.out,
*.toc,
*.acn,
*.acr,
*.alg,
*.glg,
*.glo,
*.gls,
*.is,
*.fls,
*.log,
*.out,
*.fdb_latexmk,
*.run.xml,
*.synctex.gz,
_minted*,
*.nav,
*.snm,
*.vrb
# パッケージフォルダ内の .ts ファイルは要らない
build/**/*.bbl
build/**/*.synctex.gz
